//////////
// Layout

$small-pad: 0.2rem;
$medium-pad: 0.8rem;
$large-pad: 1.6rem;

@mixin left-layout {
  grid-template-columns: 1fr max-content;
  & > aside { grid-column: 2; }
  & > main { grid-column: 1; border-width: 0 1px 1px 0; }
  & > footer { grid-column: 1; padding-right: $medium-pad; }
}

@mixin right-layout {
  grid-template-columns: max-content 1fr;
  & > aside { grid-column: 1; }
  & > main { grid-column: 2; border-width: 0 0 1px 1px; }
  & > footer { grid-column: 2; padding-left: $medium-pad; }
}

@mixin layout($side: left) {
  display: grid;
  grid-template-rows: max-content 1fr;
  min-height: 100%;

  *:first-child { margin-top: 0 !important; }
  *:last-child { margin-bottom: 0 !important; }

  & > aside {
    grid-row: 1;

    .header {
      margin: 0; // Since it's a heading
      padding: $large-pad $large-pad 0;
      text-align: center;
    }

    .sticky {
      position: sticky;
      top: 0;
      padding: $large-pad;
    }
    
    a {
      display: block;
      margin: $small-pad 0;
    }

    hr {
      margin: $medium-pad 0;
      border-bottom-width: 1px;
    }

    select {
      display: block;
      margin: $small-pad 0;
      border-width: 1px;
      padding: 0.1rem;
      width: 100%;
    }
  }

  & > main {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: $large-pad;
    padding: $large-pad;

    h2 {
      border-bottom-width: 1px;
      padding-bottom: 0.2rem;
    }

    section {
      border-width: 1px;
      padding: $medium-pad;
    }

    .contact-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
      gap: $medium-pad;
  
      section {
        display: flex;
        flex-direction: row;
        gap: $medium-pad;
        overflow-wrap: anywhere;
  
        img { width: 8rem; }
        .name, .email { margin: 0; }
      }
    }
  }

  & > footer {
    grid-row: 2;
    padding: $large-pad;
  }
  
  @if $side == left {
    @include left-layout;
  } @else if $side == right {
    @include right-layout;
  }
}

//////////
// Theming

@mixin light-theme {
  $app-background: #eeeeee;
  $app-foreground: #000000;
  $main-background: #ffffff;
  $main-foreground: #000000;
  $border: #aaaaaa;
  $accent: #2196f3;
  $dark-accent: #1565c0;

  background-color: $app-background;
  color: $app-foreground;

  & > aside {
    hr {
      border-color: $border;
    }

    select {
      border-color: $border;
      background-color: $main-background;
      color: $main-foreground;
    }
  }

  & > main {
    border-color: $border;
    background-color: $main-background;
    color: $main-foreground;

    h2 { border-color: $border; }

    section {
      border-color: $border;
      background-color: $app-background;
      color: $app-foreground;
    }
  }

  a {
    color: $accent;
    &:visited { color: $dark-accent; }
  }
}

@mixin dark-theme {
  $app-background: #111111;
  $app-foreground: #f9f9f9;
  $main-background: #1f1f1f;
  $main-foreground: #f9f9f9;
  $border: #393939;
  $accent: #2196f3;
  $dark-accent: #1565c0;

  background-color: $app-background;
  color: $app-foreground;

  & > aside {
    hr {
      border-color: $border;
    }

    select {
      border-color: $border;
      background-color: $main-background;
      color: $main-foreground;
    }
  }

  & > main {
    border-color: $border;
    background-color: $main-background;
    color: $main-foreground;

    h2 { border-color: $border; }

    section {
      border-color: $border;
      background-color: $app-background;
      color: $app-foreground;
    }
  }

  a {
    color: $accent;
    &:visited { color: $dark-accent; }
  }
}

@mixin theme($theme: light) {
  * { border-style: solid; }

  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }

  @if $theme == light {
    @include light-theme;
  } @else if $theme == dark {
    @include dark-theme;
  }
}

////////////////////////
// Application of mixins

.alpha {
  &.left { @include layout(left); }
  &.right { @include layout(right); }

  &.light { @include theme(light); }
  &.dark { @include theme(dark); }
}