$small-pad: 0.8rem;
$large-pad: 1.6rem;
$accent-col: #f44336;
$dark-accent-col: #c62828;
$border-col: #aaaaaa;
$app-bg-col: #eeeeee;

@mixin left-layout {
  grid-template-columns: 1fr max-content;

  & > aside {
    grid-column: 2;
    grid-row: 1;
  }

  & > main {
    grid-column: 1;
    grid-row: 1;
    border-width: 0 1px 1px 0;
  }

  & > footer {
    grid-column: 1;
    grid-row: 2;
    padding-right: $small-pad;
  }
}

@mixin right-layout {
  grid-template-columns: max-content 1fr;

  & > aside {
    grid-column: 1;
    grid-row: 1;
  }

  & > main {
    grid-column: 2;
    grid-row: 1;
    border-width: 0 0 1px 1px;
  }

  & > footer {
    grid-column: 2;
    grid-row: 2;
    padding-left: $small-pad;
  }
}

@mixin aside-elements {
  a {
    display: block;
    margin: 0.2rem 0;
  }
}

@mixin general-elements {
  a {
    color: $accent-col;
    text-decoration: none;

    &:hover { text-decoration: underline; }
    &:visited { color: $dark-accent-col; }
  }
}

@mixin main-elements {
  article {
    margin: $large-pad 0;
  }

  h2 {
    padding-bottom: 0.2rem;
    border-bottom: 1px solid $border-col;
  }

  section {
    border: 1px solid $border-col;
    padding: $small-pad;
    background-color: $app-bg-col;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: $small-pad;

    section {
      display: flex;
      flex-direction: row;
      gap: $small-pad;
      overflow-wrap: anywhere;

      img { width: 8rem; }
      .name, .email { margin: 0; }
    }
  }
}

.beta {
  display: grid;
  grid-template-rows: max-content 1fr;
  &.left { @include left-layout; }
  &.right { @include right-layout; }

  min-height: 100%;
  background-color: $app-bg-col;

  *:first-child { margin-top: 0 !important; }
  *:last-child { margin-bottom: 0 !important; }

  @include general-elements;

  & > aside {
    .header {
      margin: 0;
      padding: $large-pad $large-pad 0;
    }

    .sticky {
      position: sticky;
      top: 0;
      padding: $large-pad;
    }

    @include aside-elements;
  }

  & > main {
    padding: $large-pad;

    border-style: solid;
    border-color: $border-col;
    background-color: #ffffff;

    @include main-elements;
  }

  & > footer {
    padding: $large-pad;
  }
}